*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root{
    --bg1: #1c1c1d;
    --bg2: #28282b;
    --font: #e4e4e4;
    --shadow: #131313;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: var(--bg1);
}

main{
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-select{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.title{
    color: var(--font);
}

.btn-iniciar{
    width: 180px;
    height: 30px;
    background-color: var(--bg2);
    border: none;
    color: var(--font);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .4s;
    box-shadow: 0px 0px 10px var(--shadow);
}

.btn-iniciar:hover{
    background-color: var(--font);
    color: var(--bg1);
    box-shadow: 0px 0px 10px var(--font);
}

.content-guess{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

.content-guess > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-guess-try-count{
    background-color: var(--bg2);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--shadow);
}

.content-guess > div h1{
    font-size: 20px;
    color: var(--font);
}

.content-guess > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--font);
    border-radius: 10px;
}

.content-guess > div > div > label{
    font-size: 30px;
    color: var(--font);
    margin-left: 5px;
}

.content-guess > div > div > input{
    font-size: 30px;
    width: 120px;
    height: 40px;
    outline: none;
    padding-inline: 4px;
    text-align: left;
    border: none;
    background-color: transparent;
    color: var(--font);
}

.content-guess > div > button{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--font);
    background-color: transparent;
    color: var(--font);
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s;
}

.content-guess > div > button:hover{
    background-color: var(--font);
    color: var(--bg1);
    box-shadow: 0px 0px 10px var(--font);
}

.content-colors{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content-colors > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-colors > div > h2{
    color: var(--font);
}

.div-color{
    width: 180px;
    height: 180px;
    border: none;
    border-radius: 10px;
}

.border{
    border: 1px solid var(--font);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.content-try{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.result-try{
    width: 300px;
    height: 50px;
    border: 1px solid var(--font);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.index-result-try{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--bg2);
    font-size: 14px;
}

.f{
    color: rgb(161, 24, 24);
}

.w{
    color: rgb(214, 173, 38);
}

.c{
    color: rgb(22, 207, 62);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

footer{
    width: 100%;
    height: 5vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    user-select: none;
    position: absolute;
    transition: all .6s;
    color: var(--font);
    background-color: var(--bg1);
}

footer > p{
    margin-top: 20px;
}

footer:hover{
    height: 15vh;
    box-shadow: 0px 0px 10px var(--shadow);
}

menu{
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    user-select: none;
    position: absolute;
    top: 0;
}

menu button{
    margin-left: 20px;
    border: 2px solid var(--font);
    color: var(--font);
    background-color: var(--bg1);
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--shadow);
    transition: all .6s;
}

menu button:hover{
    background-color: var(--font);
    box-shadow: 0px 0px 10px var(--font);
    color: var(--bg1);
}

@media screen and (max-width: 1600px){
    .div-color{
        width: 130px;
        height: 130px;

    }

    .border{
        width: 150px;
        height: 150px;
    }

    .content-guess > div h1{
        font-size: 16px;
        color: var(--font);
    }

    .index-result-try{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .result-try{
        width: 250px;
        height: 40px;
    }
}
